@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.5s;
}

.speech-bubble::after {
  content: "";
  position: absolute;
  right: -5px;
  top: 15px;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-right-color: #e5e7eb;
  border-left: 0;
  border-top: 0;
  rotate: 45deg;
}

.swiper-wrapper {
  @apply flex !important;
  @apply py-12 items-center;
}

.swiper-pagination {
  @apply pt-4 pb-2 sticky bottom-0;
}

.swiper-pagination-bullet {
  @apply h-3 w-3 !important;
}

.swiper-pagination-bullet-active {
  @apply bg-black !important;
}

.swiper-slide {
  @apply flex !important;
  @apply pb-12 justify-center;
}

.swiper-slide img {
  max-height: 65vh;
}
