@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.page {
  animation: fadeIn 0.5s;
}

.speech-bubble::after {
  content: "";
  position: absolute;
  right: -10px;
  top: 30%;
  transform-origin: top left;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-right-color: #e5e7eb;
  border-left: 0;
  border-top: 0;
  rotate: 45deg;
}
